<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>ListaServlet</servlet-name>
        <servlet-class>MuistilistaPackage.ListaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EkaServlet</servlet-name>
        <servlet-class>MuistilistaPackage.Tehtavalista</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Uusikayttaja</servlet-name>
        <servlet-class>MuistilistaPackage.Uusikayttaja</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>lisaaKayttaja</servlet-name>
        <servlet-class>MuistilistaPackage.Lisaakayttaja</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Kirjautumistarkistus</servlet-name>
        <servlet-class>MuistilistaPackage.Kirjautumistarkistus</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Lisaatehtava</servlet-name>
        <servlet-class>MuistilistaPackage.Lisaatehtava</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ListaServlet</servlet-name>
        <url-pattern>/ListaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EkaServlet</servlet-name>
        <url-pattern>/tehtavat</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Uusikayttaja</servlet-name>
        <url-pattern>/uusikayttaja</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>lisaaKayttaja</servlet-name>
        <url-pattern>/lisaaKayttaja</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Kirjautumistarkistus</servlet-name>
        <url-pattern>/Kirjautumistarkistus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Lisaatehtava</servlet-name>
        <url-pattern>/Lisaatehtava</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
