<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>Lista</servlet-name>
        <servlet-class>MuistilistaPackage.Lista</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Uusikayttaja</servlet-name>
        <servlet-class>MuistilistaPackage.Uusikayttaja</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LisaaKayttaja</servlet-name>
        <servlet-class>MuistilistaPackage.Lisaakayttaja</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Kirjautumistarkistus</servlet-name>
        <servlet-class>MuistilistaPackage.Kirjautumistarkistus</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LuoMuokkaaMuistio</servlet-name>
        <servlet-class>MuistilistaPackage.LuoMuokkaaMuistio</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Muistilistatoiminnot</servlet-name>
        <servlet-class>MuistilistaPackage.Muistilistatoiminnot</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Uusimuistio</servlet-name>
        <servlet-class>MuistilistaPackage.Uusimuistio</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Lista</servlet-name>
        <url-pattern>/muistio</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Uusikayttaja</servlet-name>
        <url-pattern>/uusikayttaja</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LisaaKayttaja</servlet-name>
        <url-pattern>/lisaaKayttaja</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Kirjautumistarkistus</servlet-name>
        <url-pattern>/Kirjautumistarkistus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LuoMuokkaaMuistio</servlet-name>
        <url-pattern>/muokkaa</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Muistilistatoiminnot</servlet-name>
        <url-pattern>/Muistilistatoiminnot</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Uusimuistio</servlet-name>
        <url-pattern>/uusimuistio</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
